@font-face 
{
    font-family:    cabinsketch;
    src:            url('fonts/cabinsketch-regular.eot');
    src:            local('☺'),
                    url('fonts/cabinsketch-regular.svg') format('svg'),
                    url('fonts/cabinsketch-regular.ttf') format('ttf'),
                    url('fonts/cabinsketch-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
article section {
    font-family: cabinsketch;
}

.advert 
{
    border: 1px black solid;
    background: #d9d9d9;
    background: -webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#bfbfbf));
    background: -moz-linear-gradient(to right, #f2f2f2, #bfbfbf);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f2f2f2', endColorStr='#bfbfbf', GradientType=0);
}