@model AddCon_TravellingSalesman.Models.SalesmanModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SalesmanModel</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input name="create" type="submit" value="Create" />
            <input name="de" type="submit" value="de" />
            <input name="fr" type="submit" value="en" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


