@model IEnumerable<AddCon_TravellingSalesman.Models.SalesmanModel>

@{
    ViewBag.PageId = "salesmanCollectionPage";
    ViewBag.Controller = "SalesmanModels";
    ViewBag.Title = "Index";
    ViewBag.Latitude = 0; // For consistency with Details page
    ViewBag.Longitude = 0;
}

@section Header {
    @Html.ActionLink("Back", "Index", "Home", routeValues: null, htmlAttributes: new { data_icon = "arrow-l", @class = "ui-btn-left"  })
    <h2>@ViewBag.Title</h2>
    @Html.Partial("_LoginPartial")    
}

<div class="leftCol">
	<h2>Left Column</h2>
	<p>Left column is 250px by default. It can be extended by several classes to allow for additional layouts.</p>
	<ul>
		<li>.gMail = 160px</li>
		<li>.gCal = 180px</li>
		<li>.yahoo = 240px</li>
		<li>.myYahoo = 300px</li>
	</ul>
</div>
<div class="rightCol">
	<h2>Right Column</h2>
	<div id='salesmanAdvert' class="advert">
    @{ Html.RenderPartial("SalesmanAdvert"); }
</div>
</div>
<div class="main">
    <h2>Main</h2>
	<div id='salesmanList' data-enhance="true">
    @{ Html.RenderPartial("SalesmanListControl", Model); }
    </div>
</div>

@Html.Partial("_geoRanking") 