
<script id="pagePuttTemplate" type="text/x-jsrender">
    {{for List}}
        <li>
            <a href="#">
                <img src="../../Content/images/puttPlug.png" />
            </a>
        </li>
    {{/for}}             
</script>

<script type="text/javascript">
  $(document).bind("pageshow", function (e) { debugger; app.primePuttMat(); app.scorePuttMatRows(); app.teeOff() }); $("body").live("swipeleft swiperight", function (e) { if (e.type == "swiperight") { debugger; var t = app.getPuttMatBallIndex(); t = t == 0 ? 0 : t - 1; app.teeOff(t) } if (e.type == "swipeleft") { debugger; var t = app.getPuttMatBallIndex(); var n = app.getPuttMatHoles() - 1; t = t == n ? t : t + 1; app.teeOff(t) } e.preventDefault() })
</script>
}
    });
</script>

<div id="puttMat">
    <ul id="puttMatList">
    </ul>
</div>

